<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="InsertUpdateDeleteDemo.Properties.Settings.testsqlConnectionString"
            connectionString="Data Source=DE001V057;Initial Catalog=testsql;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="InsertUpdateDeleteDemo.Properties.Settings.OperationsConnectionString"
            connectionString="Data Source=DE001V057;Initial Catalog=Operations;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>